*{
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}
nav{
    background: rgb(209, 143, 143);
    height: 80px;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
li{
    margin: 22px 125px 0 125px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}
button{
    margin: 400px 900px 0 870px;
    height: 45px;
    width: 150px;
    cursor: pointer;
    background: rgb(228, 13, 160);
    color: rgb(1, 1, 1);
    border-radius: 5px;
    border-style: none;
    color: antiquewhite;
    font-size: 16px;
    box-shadow: 2px 4px 58px 12px rgba(108, 84, 84, 0.537);
}
#body{ 
    height: 91.4vh;
    background-color: aqua;
} 
.p{
    position: fixed;
    top: 43%;
    left: 41%;
    height: 48px;
    width: 340px;
    background: rgb(110, 82, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 4px 22px 6px rgb(80, 33, 33);
}
p{
    color: rgb(241, 223, 200);
}
#shw_hex_clr{
    color: azure;
    font-weight: 600;
}